In [3]:
# Handling Missing Values
# Cleaning of Data

import pandas as pd
ufo = pd.read_csv('https://trello-attachments.s3.amazonaws.com/600d1f10d700af20b1924b3c/600d1f700fcd073384905133/b87b61f7f443256a9fbd32cd68f66b73/ufo.csv') # 'http://bit.ly/uforeports'
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [5]:
ufo.shape

(18241, 5)

In [6]:
# isnull() --> this method is used to check whether we have missing values or not
# it returns TRUE if it founds missing value
ufo.isnull().head(10)

    City  Colors Reported  Shape Reported  State   Time
0  False             True           False  False  False
1  False             True           False  False  False
2  False             True           False  False  False
3  False             True           False  False  False
4  False             True           False  False  False
5  False             True           False  False  False
6  False             True           False  False  False
7  False             True           False  False  False
8  False             True           False  False  False
9  False             True           False  False  False

In [7]:
ufo.isnull().sum() # return you the sum of missing values of every column

City                  25
Colors Reported    15359
Shape Reported      2644
State                  0
Time                   0
dtype: int64

In [8]:
ufo[ufo.City.isnull()]

      City Colors Reported Shape Reported State              Time
21     NaN             NaN            NaN    LA    8/15/1943 0:00
22     NaN             NaN          LIGHT    LA    8/15/1943 0:00
204    NaN             NaN           DISK    CA   7/15/1952 12:30
241    NaN            BLUE           DISK    MT    7/4/1953 14:00
613    NaN             NaN           DISK    NV    7/1/1960 12:00
1877   NaN          YELLOW         CIRCLE    AZ    8/15/1969 1:00
2013   NaN             NaN            NaN    NH     8/1/1970 9:30
2546   NaN             NaN       FIREBALL    OH  10/25/1973 23:30
3123   NaN             RED       TRIANGLE    WV  11/25/1975 23:00
4736   NaN             NaN         SPHERE    CA   6/23/1982 23:00
5269   NaN             NaN            NaN    AZ   6/30/1985 21:30
6735   NaN             NaN      FORMATION    TX     4/1/1992 2:00
7208   NaN             NaN         CIRCLE    MI   10/4/1993 17:30
8828   NaN             NaN       TRIANGLE    WA  10/30/1995 21:30
8967   NaN             NaN        VARIOUS    CA   12/8/1995 18:00
9273   NaN             NaN       TRIANGLE    OH     5/1/1996 3:00
9388   NaN             NaN           OVAL    CA   6/12/1996 12:00
9587   NaN             NaN            EGG    FL   8/24/1996 15:00
10399  NaN             NaN       TRIANGLE    IL   6/15/1997 23:00
11625  NaN             NaN         CIRCLE    TX     6/7/1998 7:00
12441  NaN             RED       FIREBALL    WA  10/26/1998 17:58
15767  NaN             NaN      RECTANGLE    NV   1/21/2000 11:30
15812  NaN             NaN          LIGHT    NV     2/2/2000 3:00
16054  NaN           GREEN            NaN    FL    3/11/2000 3:30
16608  NaN             NaN         SPHERE    NY   6/15/2000 15:00

In [9]:
ufo[ufo.Shape Reported.isnull()] # ??

SyntaxError: ignored

In [10]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [16]:
ufo.columns = ufo.columns.str.strip().str.lower().str.replace(' ','_')
ufo.columns

Index(['city', 'colors_reported', 'shape_reported', 'state', 'time'], dtype='object')

In [18]:
ufo[ufo.shape_reported.isnull()].head(3)

           city colors_reported shape_reported state            time
16  Los Angeles             NaN            NaN    CA  2/25/1942 0:00
17    Hapeville             NaN            NaN    GA  6/1/1942 22:30
21          NaN             NaN            NaN    LA  8/15/1943 0:00

In [19]:
ufo.shape

(18241, 5)

In [21]:
# dropna() --> used to remove missing values (NAN/NA)
ufo.dropna().shape   # suitable if missing value is very less

(2486, 5)

In [26]:
ufo['shape_reported'].value_counts(dropna=False)

LIGHT        2803
NaN          2644
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
VARIOUS       333
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
CRESCENT        2
ROUND           2
HEXAGON         1
FLARE           1
PYRAMID         1
DOME            1
Name: shape_reported, dtype: int64

In [32]:
# fillna() --> used to fill NAN values
ufo['shape_reported'].fillna(value='VARIOUS',inplace=True)
ufo['shape_reported'].value_counts()

VARIOUS      2977
LIGHT        2803
DISK         2122
TRIANGLE     1889
OTHER        1402
CIRCLE       1365
SPHERE       1054
FIREBALL     1039
OVAL          845
CIGAR         617
FORMATION     434
RECTANGLE     303
CYLINDER      294
CHEVRON       248
DIAMOND       234
EGG           197
FLASH         188
TEARDROP      119
CONE           60
CROSS          36
DELTA           7
ROUND           2
CRESCENT        2
DOME            1
HEXAGON         1
FLARE           1
PYRAMID         1
Name: shape_reported, dtype: int64

In [33]:
ufo.isnull().sum()

city                  25
colors_reported    15359
shape_reported         0
state                  0
time                   0
dtype: int64

In [36]:
ufo['colors_reported'].fillna(value='VARIOUS',inplace=True)
ufo['colors_reported'].value_counts()

VARIOUS                   15359
RED                         780
GREEN                       531
ORANGE                      528
BLUE                        450
YELLOW                      169
RED GREEN                    89
RED BLUE                     78
RED ORANGE                   44
GREEN BLUE                   34
RED GREEN BLUE               33
ORANGE YELLOW                26
RED YELLOW                   25
ORANGE GREEN                 23
YELLOW GREEN                 17
ORANGE BLUE                  10
RED YELLOW GREEN              9
YELLOW BLUE                   6
ORANGE GREEN BLUE             5
YELLOW GREEN BLUE             5
RED YELLOW GREEN BLUE         4
RED ORANGE YELLOW             4
RED ORANGE BLUE               3
RED YELLOW BLUE               3
RED ORANGE GREEN              3
ORANGE YELLOW BLUE            1
ORANGE YELLOW GREEN           1
RED ORANGE YELLOW BLUE        1
Name: colors_reported, dtype: int64

In [37]:
ufo.isnull().sum()

city               25
colors_reported     0
shape_reported      0
state               0
time                0
dtype: int64

In [38]:
ufo['city'].fillna(value='VARIOUS',inplace=True)
ufo['city'].value_counts()

Seattle                                         187
New York City                                   161
Phoenix                                         137
Houston                                         108
Las Vegas                                       105
                                               ...
Earlham                                           1
Steinhatchee                                      1
Hartford City                                     1
Stead Nevada                                      1
Mt. Rainier north side, near Cateract Valley      1
Name: city, Length: 6477, dtype: int64

In [39]:
ufo.isnull().sum()

city               0
colors_reported    0
shape_reported     0
state              0
time               0
dtype: int64

In [35]:
df = pd.read_csv('https://trello-attachments.s3.amazonaws.com/60596dc01945760f799067c1/60612b0e5cd300607a58231e/6b023c489e54cfbfd4a7956b1baf2f81/sample.csv')
df

   Id  Name  Marks  Percentage
0   1  Alex   78.0        78.0
1   2  Alex   23.0         NaN
2   3  Alex    NaN        67.0
3   4  Alex   12.0         NaN
4   5  Alex    NaN         NaN
5   6  Alex   54.0         NaN
6   7  Alex   65.0        66.0

In [40]:
# fillna()
# methods
#     ffill : forward fill
#     bff   : backward fill
#     mean  : used to fill missing value by taking mean

df.isnull().sum()

Id            0
Name          0
Marks         2
Percentage    4
dtype: int64

In [42]:
df['Marks'].fillna(method='ffill',inplace=True)

In [43]:
df

   Id  Name  Marks  Percentage
0   1  Alex   78.0        78.0
1   2  Alex   23.0         NaN
2   3  Alex   23.0        67.0
3   4  Alex   12.0         NaN
4   5  Alex   12.0         NaN
5   6  Alex   54.0         NaN
6   7  Alex   65.0        66.0

In [44]:
df['Percentage'].fillna(method='bfill',inplace=True)
df

   Id  Name  Marks  Percentage
0   1  Alex   78.0        78.0
1   2  Alex   23.0        67.0
2   3  Alex   23.0        67.0
3   4  Alex   12.0        66.0
4   5  Alex   12.0        66.0
5   6  Alex   54.0        66.0
6   7  Alex   65.0        66.0

In [45]:
df.isnull().sum()

Id            0
Name          0
Marks         0
Percentage    0
dtype: int64

In [46]:
df1 = pd.read_csv('https://trello-attachments.s3.amazonaws.com/60596dc01945760f799067c1/60612b0e5cd300607a58231e/6b023c489e54cfbfd4a7956b1baf2f81/sample.csv')
df1

   Id  Name  Marks  Percentage
0   1  Alex   78.0        78.0
1   2  Alex   23.0         NaN
2   3  Alex    NaN        67.0
3   4  Alex   12.0         NaN
4   5  Alex    NaN         NaN
5   6  Alex   54.0         NaN
6   7  Alex   65.0        66.0

In [52]:
# fill nan values with mean

per_mean = df1['Percentage'].mean()

df1['Percentage'].fillna(value=per_mean,inplace=True)

In [53]:
df1

   Id  Name  Marks  Percentage
0   1  Alex   78.0   78.000000
1   2  Alex   23.0   70.333333
2   3  Alex    NaN   67.000000
3   4  Alex   12.0   70.333333
4   5  Alex    NaN   70.333333
5   6  Alex   54.0   70.333333
6   7  Alex   65.0   66.000000

In [54]:
per_mean = df1['Marks'].mean()

df1['Marks'].fillna(value=per_mean,inplace=True)

In [55]:
df1

   Id  Name  Marks  Percentage
0   1  Alex   78.0   78.000000
1   2  Alex   23.0   70.333333
2   3  Alex   46.4   67.000000
3   4  Alex   12.0   70.333333
4   5  Alex   46.4   70.333333
5   6  Alex   54.0   70.333333
6   7  Alex   65.0   66.000000